/* Navigation Sections */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}
/* home section */
#home{
    height: 380px;

}
#home h1{
    font-size: 16px;
}
#home ::before{
    height: 480px;
    padding: 3px 68px;

}
#home p{
font-size: 15px;
}

/* services section */
#services{
    flex-direction: column;

}
#servces .box{
    padding: 14px;
    margin: 2px 0px;
    margin-bottom: 20px;
}
#clients{
    flex-wrap: wrap;
}
#clients img {
    height: 50px;
  }

/* client section */

/* Contact Section */

/* Footer Section */

/* Utility Classes */
.h-primary{
    font-size: 22px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}